<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="checkbox" v-model="show">
        <input type="text" v-model="information">
        <p v-if="show">{{ information }}</p>
        <p v-else>veuillez cocher la case pour afficher le texte</p>

        <p v-if="liste.length === 0"> liste contient aucun élément</p>
        <p v-else-if="liste.length === 1"> liste contient un élément</p>
        <p v-else> liste contient plus de deux éléments</p>

        <p v-if="login === information && mdp ==='123'"> vous avez saisi correctement vos identifiants  </p>
        <p v-else>erreur lors de l'identification</p>
        
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        Vue.createApp({
            data(){
                return {
                    show : false,
                    information : "",
                    liste : [1, 2, 3,4], 
                    login : "toto",
                    mdp : "123"
                }
            }
        }).mount("#app")
    </script>
</body>
</html>